@media (min-width: 46.5em) {
  .Polaris-EmptyState--withinPage .Polaris-EmptyState__Image {
    margin-left: 0;
  }

  .setup-steps-list {
    width: 60%;
  }
}

.Polaris-EmptyState--withinContentContainer .Polaris-EmptyState__Image {
  width: 100%;
}

.setup-steps-list {
  word-break: break-word;
}

.image-container {
  width: 100%;
  padding-top: 2rem;
  padding-bottom:     2rem;
  margin: 0 auto;
}

.image-container img {
  width: 100%;
}